@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

/* Establece una altura mínima para que el footer siempre esté visible */
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Estilos para el footer */
.footer {
  background-color: #24252b;
  padding: 80px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #fb6007;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: #ffffff;
  padding-left: 6px;
}

.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.mapa iframe {
  border-radius: 15px; /* Puedes ajustar el valor según tus preferencias */
}

/* Estilos iniciales para la clase dev */
.dev {
  color: #bbbbbb;
  text-align: center;
  font-family: "Pacifico", cursive;
  margin-top: 40px;
  font-size: 14px; /* Tamaño de fuente base */
}

/* Media query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  .dev {
    font-size: 18px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  }
}

@media (max-width: 991px) {
  .footer {
    padding: 30px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
